<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.dao.IStaticDataDao">
    <select id="getStaticData" resultType="map" parameterType="java.util.Map">
        select  *
        from cfg_static_data a
        where 1=1
        <if test="codeType != null">
            and a.code_type = #{codeType}
        </if>
        ORDER by a.sort_id
    </select>
</mapper>